* {
  margin: 0; /* Supprime les marges par défaut de tous les éléments */
  padding: 0; /* Supprime les paddings par défaut de tous les éléments */
  box-sizing: border-box; /* Inclut le padding et les bordures dans les dimensions (largeur et hauteur) */
}

body {
  display: flex; /* Utilise Flexbox pour disposer les éléments enfants */
  align-items: center; /* Aligne les éléments enfants horizontalement au centre */
  flex-direction: column; /* Dispose les éléments enfants de manière verticale (en colonne) */
  min-height: 100vh; /* Le corps prend au minimum 100% de la hauteur visible de la fenêtre (viewport) */
  width: 100%; /* Le corps prend 100% de la largeur de la fenêtre */
}

h2 {
  margin-top: 10px; /* Ajoute une marge de 10 pixels au-dessus du titre <h2> */
}

article {
  display: flex; /* Active Flexbox pour organiser les enfants de manière flexible */
  flex-direction: row; /* Dispose les éléments enfants en ligne, les uns à côté des autres */
  flex-wrap: wrap; /* Permet aux éléments enfants de passer à la ligne suivante si l'espace disponible est insuffisant */
}

section {
  display: flex; /* Utilise Flexbox pour organiser les enfants */
  flex-direction: column; /* Dispose les éléments enfants verticalement, un sous l'autre */
  margin-right: 50px; /* Ajoute une marge de 50px à droite de chaque section */
}

.animations > div {
  display: flex; /* Active Flexbox pour organiser les enfants à l'intérieur de chaque div */
  flex-direction: column; /* Dispose les enfants à l'intérieur du div verticalement (en colonne) */
  align-items: center; /* Centre les enfants horizontalement à l'intérieur du div */
  width: 555px; /* Définit une largeur fixe pour chaque div */
  height: 222px; /* Définit une hauteur fixe pour chaque div */
  background-color: darkgrey; /* Applique une couleur de fond gris foncé */
  border-radius: 10px; /* Ajoute des coins arrondis de 10px */
  margin: 5px; /* Ajoute une marge de 5px autour de chaque div */
}

.menu h2 {
  color: white; /* Définit la couleur du texte en blanc */
  padding: 5px; /* Ajoute un rembourrage interne de 5px autour du texte */
  margin-top: 0; /* Supprime toute marge supérieure par défaut */
  cursor: pointer; /* Change le curseur en pointeur pour indiquer que le texte est cliquable */
  position: absolute; /* Positionne le titre <h2> de manière absolue par rapport à .menu */
  top: 0; /* Positionne le titre à 0px du haut de l'élément .menu */
}

.menu {
  display: flex; /* Utilise Flexbox pour organiser le contenu à l'intérieur */
  align-items: center; /* Centre verticalement le contenu (le texte <h2>) */
  justify-content: center; /* Centre horizontalement le contenu à l'intérieur de .menu */
  width: 80px; /* Définit une largeur fixe de 80px */
  height: 35px; /* Définit une hauteur fixe de 35px */
  border-radius: 18px; /* Ajoute des coins arrondis de 18px */
  margin: 5px; /* Ajoute un espacement de 5px autour de l'élément */
  background-color: black; /* Définit la couleur de fond en noir */
  position: relative; /* Position relative pour que l'élément enfant (h2) puisse être positionné avec 'position: absolute' */
  transition: height 3s; /* Anime la hauteur lors du survol avec une durée de 5 secondes */
}

.menu:hover {
  height: 688px; /* Augmente la hauteur à 500px lorsque l'utilisateur survole l'élément */
}

.square {
  width: 100px; /* Définit une largeur fixe de 100px */
  height: 100px; /* Définit une hauteur fixe de 100px */
  margin-top: 50px; /* Ajoute un espacement de 50px au-dessus de l'élément */
  background-color: red; /* Définit la couleur de fond initiale en rouge */
  animation: rotateSquare 3.5s linear infinite alternate; /* Nom de l'animation, durée, comportement linéaire et répétition alternée */
}
@keyframes rotateSquare {
  from { 
    background-color: red; /* Au début, la couleur de fond est rouge */
  }
  to { 
    background-color: yellow; /* À la fin, la couleur de fond devient jaune */
    transform: rotate(550deg); /* Le carré effectue une rotation de 550 degrés */
  }
}

.tube {
  width: 40px;
  height: 165px;
  margin-top: 11px;
  border: 2px solid green;
  display: flex;
  justify-content: center;
  position: relative;
  overflow: hidden;
}

.ball {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background-color: green;
  position: absolute;
  animation: Bounce 3s ease-in-out infinite;
}

@keyframes Bounce {
  0% { top: -20px; }   /* La balle commence au-dessus du tube */
  20%, 60%, 100% { top: 128px; }  /* La balle touche le bas du tube et revient en bas */
  40% { top: 78px; }    /* Premier rebond haut */
  75% { top: 98px; }   /* Deuxième rebond moyen */
  92% { top: 128px; }   /* Troisième petit rebond */
}

/* Conteneur du loader */
.loader {
  display: flex; /* Utilise Flexbox pour aligner les cercles en ligne */
  margin-top: 50px; /* Espace au-dessus du loader */
}

/* Styles pour chaque cercle du loader */
.loader > div {
  margin: 2px; /* Espace entre les cercles */
  width: 80px; /* Largeur fixe des cercles */
  height: 80px; /* Hauteur fixe des cercles */
  border-radius: 50%; /* Forme circulaire des cercles */
  border: 1px solid black; /* Bordure noire */
  animation: loader 3s infinite; /* Animation de 3s répétée à l'infini */
}

/* Ajout de délais d'animation pour les cercles */
.loader div:nth-child(1) { animation-delay: 0s; }
.loader div:nth-child(2) { animation-delay: 2s; }
.loader div:nth-child(3) { animation-delay: 4s;}

/* Animation de changement de couleur */
@keyframes loader {
  0%, 100% { background-color: white; } /* La couleur est blanche au début et à la fin de l'animation */
  50% { background-color: black; } /* La couleur devient blanche au milieu de l'animation */
}


/*--- *  Small Squares Animation Section  * --- */
.square-animation {
  position: relative;
}

.square-animation div {
  position: absolute;
  animation-name: square-move-animation, square-rotation, color-change-animation;
  animation-duration: 15s, 2s, 7s;
  animation-iteration-count: infinite;
  top: 0;
  left: 0;
}

.small-square1 { background-color: #d42b4d; width: 20px; height: 20px; animation-delay: 1s; }
.small-square2 { background-color: #FFD43B; width: 20px; height: 20px; animation-delay: 2s; }
.small-square3 { background-color: darkgreen; width: 20px; height: 20px; animation-delay: 3s; }
.small-square4 { background-color: violet; width: 20px; height: 20px; animation-delay: 4s; }
.small-square5 { background-color: #974e2b; width: 20px; height: 20px; animation-delay: 5s; }

@keyframes square-move-animation {
  0%, 100% { top: 0; left: 0; }
  8% { left: 96%; }
  50% { top: 89%; left: 96%; }
  75% { top: 92%; left: 0; }
}

#circle-animation {
  height: 455px;
}
.circle-anim {
  perspective: 1000px;
  display: flex;
  position: relative;
  animation: rotate-circle-animation 25s infinite linear;
}

.circle-anim .circle div {
  width: 10px;
  height: 10px;
  position: absolute;
  border-radius: 50%;
}

.circle-anim .circle div:nth-child(1) { background-color: red; transform: rotateY(0deg) translateZ(50px); }
.circle-anim .circle div:nth-child(2) { background-color: blue; transform: rotateY(40deg) translateZ(50px); }
.circle-anim .circle div:nth-child(3) { background-color: orange; transform: rotateY(80deg) translateZ(50px); }

@keyframes rotate-circle-animation {
  0% { transform: rotateY(0deg); }
  100% { transform: rotateY(360deg); }
}

@keyframes rotate-around-animation {
  0% { top: 193px; left: 59px; transform: rotate(0deg); }
  25% { top: 50px; left: 250px; transform: rotate(90deg); transform-origin: 50% 100%; }
  50% { top: 193px; left: 489px; transform: rotate(180deg); }
  100% { top: 193px; left: 59px; transform: rotate(360deg); }
}
